<!DOCTYPE html>
<html>
<head>
  <title>Estacionamiento</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: #fff;
    }

    .container {
      margin-top: 100px;
    }

    .card {
      background-color: #87CEFA;
    }

    .card-header {
      background-color: #87CEFA;
      color: #fff;
      text-align: center;
      font-weight: bold;
      font-size: 24px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">Registro de Autos</div>
          <div class="card-body">
            
            <form action="/registrar-auto" method="post">
              <div class="form-group">
                <label for="patente">Patente:</label>
                <input type="text" class="form-control" id="patente" name="patente" required>
              </div>
              <div class="form-group">
                <label for="hora">Hora Actual:</label>
                <input type="text" class="form-control" id="hora" name="hora" readonly>
              </div>
              <button type="submit" class="btn btn-primary">Registrar Auto</button>
              <a href="/solicitar" class="btn btn-success">Boleta</a>
            </form>
          
        </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function actualizarHora() {
      var campoHora = document.getElementById('hora');
      var fecha = new Date();
      var hora = fecha.toLocaleTimeString();
      campoHora.value = hora;
    }
  
    setInterval(actualizarHora, 1000);
  </script>

</body>
</html>

